body{
 background-color:rgb(255, 159, 180);
}
h1 {
    text-align: center;
}
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(138, 22, 57)
  
}
body {
    padding: 60px 60px;
    margin: 13px 200px;
    border-style: dashed;
    border-color: rgb(138, 22, 57);
    border-radius: 8px;
}
a:link {
    color: rgb(108, 11, 40)
}
a:visited {
    color: #b64767
}
ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: center;
}
p {
    text-align: center;
    padding: 0px 100px;
}